body {
background:#000000 url(/images/header-bg.gif) repeat-x scroll left top;
margin:0;
padding:0;
}
div.wrapper {
margin:0 auto;
padding:0 20px;
}
#main {
background:#FFFFFF url(/images/main-bg.gif) repeat-x scroll left top;
border-top:2px solid #FFFFFF;
}
#main div.wrapper {
padding:0 260px 50px 20px;
}
#content {
float:left;
margin-top:10px;
min-width:410px;
padding:0;
width:100%;
}
body.homepage #content, body.error404 #content {
margin-top:26px;
}
#sidebar {
background:#FFFFFF none repeat scroll 0 0;
float:left;
margin:26px -240px 0 20px;
width:220px;
}
#text-size {
float:right;
margin:-12px 0;
}
#text-size img {
border:medium none;
display:block;
float:left;
}
#text-size p {
clear:both;
color:#AAAAAA;
font-size:12px;
padding-top:5px;
text-align:center;
}
.clear:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
.clear {
display:inline-block;
}
* html .clear {
height:1%;
}
.clear {
display:block;
}
a img {
border:medium none;
}
body {
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:1.6;
}
h1, h2, h3, h4, h5, h6, p, ol, ul {
margin:0 0 1.15em;
}
h1, h2 {
font-weight:normal;
line-height:1.2;
}
h1 {
font-size:2em;
}
#content h1 {
margin-bottom:0.6em;
}
h2 {
font-size:20px;
line-height:1.2;
}
#content h2 {
font-size:1.5em;
margin-bottom:1em;
}
.post_created_at {
color:#666666;
font-family:Arial,Helvetica,Sans-Serif;
font-size:12px;
font-weight:normal;
text-align:left;
}
h3 {
font-size:1em;
}
a {
color:#000000;
text-decoration:underline;
}
a.top, a.more {
background:#3C3C3C url(/images/linkbar.gif) repeat-x scroll left top;
border:1px solid #585757 !important;
color:#FFFFFF;
font-weight:bold;
line-height:28px;
padding:5px 10px;
text-decoration:none;
}
a.top {
display:block;
float:left;
margin-top:20px;
padding:0 10px;
}
form {
margin:0;
padding:0;
}
body.rational #content form {
padding-bottom:1em;
}
input.text, textarea {
background-color:#EFEFEF;
border-color:#D5D5D5 -moz-use-text-color -moz-use-text-color #D5D5D5;
border-style:solid none none solid;
border-width:1px medium medium 1px;
display:block;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:0;
padding:5px;
}
#content input.text, #content textarea {
font-size:1em;
}
#header {
background:transparent url(/images/internal.jpg) repeat-x scroll left top;
color:#FFFFFF;
}
#header div.wrapper {
height:190px;
padding-bottom:43px;
position:relative;
}
body.homepage #header div.wrapper {
background-image:url(/images/home.jpg);
height:328px;
}
#header a {
color:#FFFFFF;
text-decoration:none;
}
#header a.tab {
background:transparent url(/images/header-tab-left.gif) no-repeat scroll left top;
color:#C4C4C4;
display:block;
float:right;
margin:0 0 -10px;
padding-left:10px;
}
body.homepage #header a.tab {
margin-bottom:90px;
}
#header a.tab:hover {
color:#FFFFFF;
}
#header a.tab span {
background:transparent url(/images/header-tab-right.gif) no-repeat scroll right top;
cursor:pointer;
display:block;
height:30px;
line-height:30px;
padding:0 25px 0 15px;
}
#header strong.name {
clear:both;
display:block;
font-family:Georgia;
font-size:61px;
font-variant:small-caps;
font-weight:normal;
height:54px;
line-height:1;
margin:0 0 5px;
}
#header strong.name span {
display:block;
margin:100px 0 0;
}
#header span.tagline {
display:block;
font-size:16px;
margin:0 0 10px;
}
body.homepage #header span.tagline {
margin-bottom:30px;
}
#header span.tagline em {
color:#FEC709;
font-style:normal;
}
#header div.quote p {
font-weight:bold;
margin:0;
}
ul#nav {
height:43px;
left:0;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 0 0 20px;
min-width:750px;
padding:0;
position:absolute;
top:190px;
width:96%;
}
body.homepage ul#nav {
top:328px;
}
ul#nav li {
display:block;
float:left;
margin-right:1%;
padding:0;
position:relative;
width:19%;
z-index:5;
}
ul#nav li:last-child {
margin-right:0;
}
ul#nav li a {
background-color:#393939;
border:1px solid #545353;
display:block;
font-size:15px;
line-height:41px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}
ul#nav li:hover a, ul#nav li.hover a, ul#nav li a:hover, body.homepage ul#nav li.homepage a, body.rational ul#nav li.rational a, body.singularity ul#nav li.singularity a, body.other ul#nav li.other a, body.contact ul#nav li.contact a {
background-color:#FFFFFF;
border-color:#FFFFFF;
color:#000000;
}
ul#nav li ul {
background-color:#FFFFFF;
border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
display:none;
left:-1px;
margin:0;
padding:0 5% 5px;
position:absolute;
top:43px;
width:90%;
z-index:10;
}
ul#nav li:hover ul, ul#nav li.hover ul {
display:block;
}
ul#nav li ul li {
display:block;
float:none;
margin:0;
width:100%;
}
ul#nav li ul li a {
background:transparent url(/images/nav-doc.gif) no-repeat scroll 5px 7px;
border-color:-moz-use-text-color -moz-use-text-color #D8D8D8 !important;
border-style:none none solid !important;
border-width:medium medium 1px !important;
color:#000000;
font-size:12px;
line-height:16px;
padding:7px 10px 7px 22px;
text-align:left;
text-transform:none;
}
ul#nav li ul li:last-child a {
border-bottom:medium none !important;
}
ul#nav li ul li a:hover {
background-color:#EFEFEF !important;
}
#breadcrumbs {
font-size:0.85em;
margin:0 0 10px;
}
#breadcrumbs a {
font-weight:normal !important;
margin:0 5px;
text-decoration:none;
}
#breadcrumbs strong {
margin:0 5px;
}
#content a {
font-weight:bold;
}
#content p.intro {
font-size:1.1em;
}
#content div.about {
border-top:1px solid #000000;
clear:both;
font-size:0.9em;
margin-top:20px;
padding-top:20px;
}
#content p.notice {
background-color:#FFFFCC;
border:1px solid yellow;
font-weight:bold;
padding:1em;
text-align:center;
}
#content p.notice img {
float:left;
margin-top:-0.3em;
}
#content div.about p {
margin:0 0 10px;
}
#content ul.share {
background:#3C3C3C url(/images/linkbar.gif) repeat-x scroll left top;
border:1px solid #585757;
float:left;
font-size:0.9em;
line-height:25px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:15px 0 20px;
padding:0 5px;
}
#content ul.share li {
border-right:1px solid #FFFFFF;
color:#FFFFFF;
display:inline;
padding:0 8px 0 5px;
}
#content ul.share li.last {
border-right:0 none;
padding-right:5px;
}
#content ul.share li a {
color:#FFFFFF;
text-decoration:none;
}
ul.essay-list {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-left:0;
padding:0;
}
ul.essay-list li {
background:transparent url(/images/essay-list-doc.gif) no-repeat scroll 10px 15px;
border-bottom:1px solid #BFBFBF;
margin:0;
padding:15px 0 0 65px;
text-align:right;
}
ul.essay-list li.alt {
background-color:#E5E5E5;
background-image:url(/images/essay-list-doc-gray.gif);
}
ul.essay-list li h3 {
margin:0;
text-align:left;
}
ul.essay-list li p {
margin:0;
text-align:left;
}
ul.links {
border-top:1px solid #CCCCCC;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-left:0;
padding:0;
}
ul.links li {
margin:0;
padding:0;
}
ul.links li a {
background:transparent url(/images/link-doc-icon.gif) no-repeat scroll 11px 7px;
border-bottom:1px solid #CCCCCC;
display:block;
padding:5px 10px 5px 35px;
text-decoration:none;
}
ul.links li a:hover {
background-color:#E5E5E5;
}
ul.links li.atom a {
background-image:url(/images/atom-icon.gif);
}
#content ul.sitemap, #content ul.sitemap ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#content ul.sitemap li {
float:left;
font-size:0.85em;
margin-right:1%;
width:32%;
}
#content ul.sitemap li li {
float:none;
width:auto;
}
#content ul.sitemap ul ul {
margin-left:15px;
}
#content ul.sitemap h3 {
margin:0 0 5px;
}
#content ul.sitemap a {
font-weight:normal;
text-decoration:none;
}
#content ul.sitemap a:hover {
text-decoration:underline;
}
form#contact div.field {
margin:0 0 10px;
}
form#contact div.mailer-error {
background:#FF5555 none repeat scroll 0 0;
border:1px solid #FF0000;
font-style:italic;
font-weight:bold;
margin:0.3em auto;
padding:0.3em;
text-align:center;
width:25em;
}
form#contact div.half {
float:left;
padding-right:2%;
width:48%;
}
form#contact div.full {
clear:both;
width:96%;
}
form#contact label {
display:block;
margin:0 0 5px;
}
form#contact label span.req {
color:#FF0000;
}
form#contact input.text {
width:90%;
}
form#contact textarea {
width:97%;
}
form#contact input.submit {
background:#3C3C3C url(/images/linkbar.gif) repeat-x scroll left top;
border:1px solid #585757;
color:#FFFFFF;
cursor:pointer;
display:block;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:1em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
height:25px;
line-height:25px;
margin:0;
padding:0 10px;
}
#content div.testimonial {
background-color:#EFEFEF;
border:1px solid #D5D5D5;
float:right;
margin:0 0 2% 2%;
padding:2%;
width:30%;
}
#content div.testimonial h3 {
color:#7F7D7D;
text-transform:uppercase;
}
#content div.testimonial p.source {
margin-bottom:0;
}
#sidebar .box {
clear:both;
font-size:11px;
margin:0 0 20px;
}
#sidebar h2 {
font-size:19px;
letter-spacing:-1px;
line-height:1;
margin:0 0 5px;
text-transform:uppercase;
}
form#search-big {
margin:1em auto;
width:40em;
}
#sidebar form#search {
}
#sidebar form#search input.text {
float:left;
margin:0 0 20px;
width:205px;
}
#sidebar form#search input.submit {
display:none;
}
#sidebar div.menu ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#sidebar div.menu ul li a {
background:#FFFFFF url(/images/sidenav-doc.gif) no-repeat scroll left 5px;
border-bottom:1px solid #E8E8E8;
display:block;
font-weight:normal;
padding:3px 18px 3px 22px;
text-decoration:none;
}
#sidebar div.menu ul li ul li a {
background-image:url(/images/sidenav-sub.gif);
padding-left:33px;
}
#sidebar div.menu ul li a:hover {
background-color:#F2F2F2;
}
#featured-essay h3 {
margin:0;
}
#subscribe-rss a.feed {
display:block;
font-weight:normal;
height:92px;
line-height:1;
text-decoration:none;
width:220px;
}
#subscribe-rss a.feed img {
display:block;
float:left;
margin:-1em 0 0 -1em;
}
#subscribe-rss a.feed span, #subscribe-rss a.feed b {
cursor:pointer;
display:block;
margin:0 0 5px;
}
#subscribe-rss a.feed span.title {
color:#F57D02;
font-size:19px;
letter-spacing:-1px;
padding-right:20px;
text-transform:uppercase;
}
#subscribe-rss a.feed:hover span.title {
text-decoration:underline;
}
#subscribe-rss a.feed span.info {
line-height:1.2;
}
#footer {
background:transparent url(/images/footer-bg.gif) repeat-x scroll left top;
color:#FFFFFF;
font-size:11px;
line-height:1;
}
#footer div.wrapper {
height:43px;
padding-top:20px;
}
#footer a {
color:#FFFFFF;
text-decoration:none;
}
#footer ul {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#footer ul li {
border-right:1px solid #FFFFFF;
float:left;
margin:0 1em 0 0;
padding:0 1em 0 0;
}
#footer ul li:last-child {
border-right:medium none;
margin:0;
padding:0;
}
#footer p {
float:right;
margin:0;
text-align:right;
}


.post { 
  border-bottom:1px solid gray;
  margin-bottom:1.5em;
}
