
<div id="breadcrumbs"><a href="http://localhost:3000/">Eliezer S. Yudkowsky</a> &gt; <a href="http://localhost:3000/other">Other</a> &gt; <a href="http://localhost:3000/other/fiction">Fiction</a> &gt; Artifacts</div>
<div id="text-size">
<img id="text-size-inc" src="plus.png" title="Increase size of text" height="26" width="27">
<img id="text-size-reset" src="reset.png" title="Reset size of text to normal" height="26" width="27">
<img id="text-size-dec" src="minus.png" title="Decrease size of text" height="26" width="25">
<p>Text size</p>
</div>

<h1 id="6x6o">Artifacts</h1>


  <p>In the western spiral arm of our galaxy lies a star system and a planet
occupied ages ago.  On one mountain of that planet there is a great
structure, thousands of cubits tall.  It is constructed of sapphire and
diamond, is self-repairing, and derives energy from both solar power and
an internal power supply which we still do not understand.</p>


  <p>Each solar rotation, this vast mechanism emits a tick.  Each hundred
rotations, it emits a gong.  Those who study the mechanism believe that
every ten thousand rotations, a small mechanism will appear from a certain
door and make a sound.  The last effect has not been observed in living
memory, and the next occurrence is projected to be nearly eighty
generations removed from those now living.  Xenoarchaeologists say that
the gong’s period was longer than the lifespan of an individual of that
species, and that the unseen mechanism has a period longer than that
species’ entire recorded history.  The entire edifice was constructed only
a few years before that race vanished forever to wherever ancient races
go.</p>


  <p>Philosophers across the galaxy have argued over the purpose of the
Eternal Clock.  As with other artifacts such as the Diamond Book, the
Circle of Time, the Oracle, and the Wandering Flame, consensus holds
that the motive was not religious or superstitious in nature, but
philosophical.</p>


  <p>What principle the Eternal Clock was intended to embody is still a matter
of great controversy.  But while arguments rage in the halls of
philosophy, while children are born and great-grandparents die, while
intelligent races evolve and vanish, the Eternal Clock continues to tick. 
And perhaps that is the message it is intended to convey.</p>
<ul class="share">
  <li><a href="http://digg.com/submit?phase=2&amp;topic=educational&amp;url=http://localhost:3000/other/fiction/artifacts&amp;title=Artifacts&amp;bodytext=%3Cp%3EIn%20the%20western%20spiral%20arm%20of%20our%20galaxy%20lies%20a%20star%20system%20and%20a%20planet%20occupied%20ages%20ago.%20On%20one%20mountain%20of%20that%20planet%20there%20is%20a%20great%20structure,%20thousands%20of%20cubits%20tall%E2%80%A6%3C/p%3E" title="Digg this story">Digg</a></li>
  <li><a href="http://del.icio.us/post?&amp;url=http://localhost:3000/other/fiction/artifacts&amp;title=Artifacts">Del.icio.us</a></li>
  <li><a href="http://www.stumbleupon.com/submit?url=http://localhost:3000/other/fiction/artifacts&amp;title=Artifacts">Stumble</a></li>
  <li class="last"><a href="http://reddit.com/submit?url=http://localhost:3000/other/fiction/artifacts&amp;title=Artifacts">Reddit</a></li>
</ul>

<div class="about">
<p>This document is ©2001,2003 by <a href="http://localhost:3000/">Eliezer Yudkowsky</a> and free under the <a href="http://creativecommons.org/licenses/by-nd/3.0/">Creative Commons Attribution-No Derivative Works 3.0 License</a> for copying and distribution, so long as the work is attributed and the text is unaltered.</p>


  <p>Inspired by the <a href="http://www.longnow.org/projects/clock/">“Clock of the Long Now” project</a>.</p>


  <p>Yes, Stewart Brand has already seen it.</p>


<hr>


  <p>The above apparently got forwarded around a bit, and Kevin Kelly wrote me and said:
“I’d love to know what the other artifacts are: Diamond Book, the Circle of Time,
the Oracle, and the Wandering Flame.”</p>


<hr>


  <p>The Wandering Flame was created by a species that, in a rare coincidence,
began acquiring industrial technology just as their home planet was
entering a new Ice Age.  The species successfully staved off global
cooling – first through deliberate emission of greenhouse gases, then
through orbital solar mirrors, and finally, as they reached the heights of
technology, through direct reversal of the underlying climatic effect.  In
celebration, they constructed the Wandering Flame, an artificial sunlet
that shines for one seventeenth of an orbital period over any planet on
which a sentient species successfully manages an environmental crisis. 
Although the Wandering Flame often delivers more solar energy than the
planet’s original star, no climatic or ecological side effects occur. 
When not fulfilling its primary function, the Wandering Flame can usually
be found in the asteroid belt of some otherwise uninteresting star system.</p>


  <p>The Oracle is a spherically-shaped region of space, roughly 32 light-hours
in diameter, located around 2 light-years to the galactic north of
Elnath.  The Oracle will answer one question for each petitioner;
unfortunately, there is no way to know in advance which question it is. 
Only seventeen questions have ever been answered, four of them asked by
accident and apparently trivial, but in each case the petitioner expressed
a profound sense of satisfaction and enlightenment.</p>


  <p>The Circle of Time appears as a circular path of beaten silver,
eighty-three meters in diameter.  When you set foot on the Circle at any
point, the path begins to move, conveying you along the Circle.  It
appears to take exactly fifteen minutes and twenty-eight seconds for you
to reach your starting point, although on exiting, no external time
appears to have passed.  Many past and future selves of the fifteen
minutes are visible in their corresponding positions along the Circle of
Time, and you can converse with yourself as desired.</p>


  <p>The Diamond Book has the density and appearance of purest diamond.  No
matter how many pages are turned, there are still as many left.  The
weight and volume of the Book never increase.  No page has ever been found
containing words, pictures, or other visible content, though each page
sparkles beautifully and individually.  Those who read the Book by gazing
on several pages in succession feel an overwhelming sense of sadness and
grief.  The emotion is not debilitating but cathartic, and has inspired
great artistic works and a lasting end to several wars.  Despite the
thousands of intrigues that have broken out in competition for possession
of the Diamond Book, no violent conflict has ever occurred.</p>


<hr>


  <p><a href="http://faculty.washington.edu/smcohen/320/Kilogram.htm">This article</a> describes humanity’s creation of yet another inscrutable artifact.</p>


<dl><dt>The key passage:</dt>
<dd>“It’s probably the roundest item ever made by hand. ‘If the earth were this round, Mount Everest would be four meters tall,’ Dr. Nicolaus said. An intriguing characteristic of this smooth ball is that there is no way to tell whether it is spinning or at rest. Only if a grain of dust lands on the surface is there something for the eye to track.”</dd></dl>

  <p>Whatever would an alien species make of the Silicon Sphere, I wonder? Would they ever guess its purely philosophical purpose?</p>


  <p>A cheering sign that humanity is still progressing toward becoming an Incomprehensible Elder Species.</p>


<hr>


  <p>This was posted to <span class="caps">SL4</span>:</p>


<pre>THE BANACH-TARSKI GYROSCOPE

The Banach-Tarski Gyroscope is an intricate mechanism believed to have
been constructed using the Axiom of Choice.  On each complete rotation
counterclockwise, the Banach-Tarski Gyroscope doubles in volume while
maintaining its shape and density; on rotating clockwise, the volume is
halved.  When first discovered, fortunately in the midst of interstellar
space, the Banach-Tarski Gyroscope was tragically mistaken for an ordinary
desk ornament.  Subsequently it required a significant portion of the
available energy of the contemporary galactic civilization to reverse the
rotation before nearby star systems were endangered; fortunately, the
Banach-Tarski Gyroscope still obeys lightspeed limitations on rotation
rates, and cannot grow rapidly once expanding past planetary size.  After
the subsequent investigation, the Banach-Tarski Gyroscope was spun
clockwise and left spinning.
</pre>

  <a href="#content" class="top">Back to Top</a>
</div>
        
